/* General Styling */ 
.ContactPage {
    width: 100%;
    overflow-x: hidden;
    position: relative;
    min-height: 100vh; 
    transition: background 0.5s ease-in-out;
    height: fit-content;
    background: rgba(0, 0, 0, 0.35) url(../../Images/contact.jpg);
    background-blend-mode: darken;
    background-size: cover;
    background-position: bottom;
} 

.ContactPage.lightMode {
    background-blend-mode: lighten;
}

.contactPageHeaderText {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    color: white;
    text-shadow: 2px 2px 20px black;
}

.contactPageText {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25em;
    padding-top: 1.25%;
    text-shadow: 2px 2px 15px black;
}

/* .contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.contact-input {
    display: block;
} */

@media (max-width: 600px) {
    .contactPageText {
        font-size: 1em;
        padding-top: 3%;
    }
}

.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container {
    width: 70%;
    display: block;
    margin-top: 30px;
}

.contact-container.lightMode {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.contact-container .row100 {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(autofit, minmax(300px, 1fr));
}

.contact-container .row100 .col {
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 10px;
    transition: 0.5s;
}

.contact-container .row100 .inputBox {
    position: relative;
    width: 100%;
    height: 50px;
    color: white;
    text-shadow: 2px 2px 10px black;
}

.contact-container .row100 .inputBox input,
.contact-container .row100 .inputBox.textarea textarea {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    z-index: 1;
    color: black;
    overflow: hidden;
}

.contact-container .row100 .inputBox .text {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}

.contact-container .row100 .inputBox input:focus + .text,
.contact-container .row100 .inputBox input:valid + .text {
    top: -35px;
    left: -10px;
}

.contact-container .row100 .inputBox .line {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 1.5px;
    background: white;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}

.contact-container .row100 .inputBox input:focus ~ .line,
.contact-container .row100 .inputBox input:valid ~ .line {
    background: rgba(255, 255, 255, 0.75);
    height: 100%;
}

.contact-container .row100 .inputBox.textarea {
    position: relative;
    width: 100%;
    height: 150px;
    padding: 10px 0;
}

.contact-container .row100 .inputBox.textarea textarea {
    height: 100%;
    resize: none;
}

.contact-container .row100 .inputBox textarea:focus + .text,
.contact-container .row100 .inputBox textarea:valid + .text {
    top: -35px;
    left: -10px;
}

.contact-container .row100 .inputBox textarea:focus ~ .line,
.contact-container .row100 .inputBox textarea:valid ~ .line {
    background: rgba(255, 255, 255, 0.75);
    height: 100%;
}

/* Contact Button */
.contact-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 50px;
}

.contact-form button {
    border: none;
}

/* Social Icons */
.social-icons-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1em;
}

.social-icons-list ul {
    position: absolute;
    display: flex;
    bottom: 3em;
}

.social-icons-list ul li {
    position: relative;
    list-style: none;
    margin: 0 4em;
    cursor: pointer;
}

.social-icons-list ul li .social-icon {
    text-decoration: none;
    font-size: 2.5em;
    color: #fff;
    transition: all 0.5s ease-in-out;
}

.social-icon.facebook:hover {
    color: #3B5998;
    text-shadow: 2px 2px #3B5998;
}

.social-icon.linkedin:hover {
    color: #0E76A8;
    text-shadow: 2px 2px #0E76A8;
}

.social-icon.github:hover {
    color: #000;
    text-shadow: 2px 2px #000;
}

.social-icon.gmail:hover {
    color: #D44638;
    text-shadow: 2px 2px #D44638;
}

.social-icon.phone:hover {
    color: #32CD32;
    text-shadow: 2px 2px #32CD32;
}

@media (max-width: 700px) {
    .social-icons-list ul {
        bottom: 1.5em;
    }
    
    .social-icons-list ul li {
        margin: 0 1.25em;
    }
    
    .social-icons-list ul li .social-icon {
        font-size: 1.75em;
    }
}

.EmailIconHoverText {
    display: none;
    text-align: center;
    padding-top: 1.5em;
    font-size: 1.25em;
    color: #D44638;
    text-shadow: 2px 2px 20px black;
    animation: fadeIn 0.5s linear;
}

.PhoneIconHoverText {
    display: none;
    text-align: center;
    padding-top: 1.5em;
    font-size: 1.25em;
    color: #32CD32;
    text-shadow: 2px 2px 20px black;
    animation: fadeIn 0.5s linear;
}

.copiedToClickboardMsg {
    display: none;
    animation: fadeIn 0.5s linear;
}

.EmailIconHoverText.emailHovered {
    display: block;
}

.copiedToClickboardMsg.copied {
    display: initial;
}

.PhoneIconHoverText.phoneHovered {
    display: block;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-height: 700px) {
    .EmailIconHoverText, .PhoneIconHoverText {
        display: none;
    }

    .gmail-list-item, .phone-list-item {
        display: none;
    }
}


.social-icons-list {
    display: flex !important;
}

#menu_social, .article-social, .share-menu, #xing-share, .fbContainer, .share-item, a[href^="http://twitter.com/home?"], .share-facebook, .social-label, .button-pinterest, .share-page, .socialButton, .icon-social-facebook, .sharrre, #sharebuttons, .follow-label, .g-plusone, a[title="facebook"], .b-topic__socials, .btn-google-plus, .fb-likebox, .shareLeft, .social-bar-container, .icon-gplus, .j-social-button, .pinButton, .shareContainer, .sharebutton, .social-sidebar, a[href*="facebook.com/sharer/sharer.php?"], #subscribe-options, .facebook-link, .group_share, .icon-fb, .twitterWrapper, a[href^="https://www.linkedin.com/cws/share?"], .share-left, .social-icon, .instagram-follow, .share_panel, a[href^="http://vkontakte.ru/share.php?"], a[title="Twitter"], #top_share, #vk_invite_wrapper, .btn-facebook, .mod-socialmedia, a[href^="http://facebook.com/sharer.php?"], #share-reddit, #social-header, #socialWrapper, .FollowButton, .icon-twitter, .sharebox, #social-container, img[alt="Youtube"], #facebook-icon, .twitter.icon, a[href^="http://www.stumbleupon.com/submit?"], .fa-facebook-square, .b-social, .pinterest-button, .sharing-buttons, .social-16, .youtube_subscribe_module, .itemSocialSharing, .share-panel, .shareBox, .social-column, .share-box, .share-with-friends, .social-buttons, .social-wrap, .socialshare, a[href^="https://twitter.com/home/?status="], img[alt="Vine"], .addthisbuttons, .custom-sharing-link, .fb-link, .twitter-icon, a[href^="http://plus.google.com/share"], img[title="LinkedIn"], .arqam-widget-counter, .ico-facebook, .youtube-link, a[href="//www.reddit.com/submit"], .article-social-container, .content-share-wrap, .digg-button, .socialbox, .subscribe-text, #share-box, .facebook-container, .social-share-count, .social-google, #vk_recommended, .icon-youtube, .social-panel, img[title="Facebook"], .SocialButton, .fb-box, .icon-google-plus-sign, .share-popup, .social-count, #advancedsocialwidget, .post-share-panel, .btnFacebook, .shareText, .social-btn, a[href^="http://www.tumblr.com/share/"], .btn-reddit, .fb-recommendations, .social-links, .sprite-twitter, a[href^="http://twitter.com/intent/tweet"], .social-sharing, .socialButtons, .socialbuttons, .detail-share-item, .share-wrap, .social-wrapper, .share-bar, .social-login, .twitter-timeline, .facebookLikeBox, .follow-bar, .social_row, a[href^="http://reddit.com/submit"], #facebook_like_button_holder, #share_link, .sharebuttons, a[href="https://twitter.com/share"], #share-links, .linkedin.icon, .reddit_button, .share-buttons, .subscribe-widget, .bottom-social, .follow-text, .share-video, .social-button, a[href^="https://facebook.com/sharer.php?"], .btn-social, #socialContainer, #vk_right, .block-socialmedia, .follow_twitter, .google-btn, .sprite-facebook, #share_feed, #social-wrapper, .fb-btn, .share-container, .share_bottom, .social_links_top, .fb_edge_widget_with_comment, #socials, .fb-recommendations-bar, .like-box, .share-text, .social_bar, .addthis_32x32_style, .fb-icon, .fblike, .follow_box, .icon-vimeo, .share-fb, .social-facebook, .twitter-feed, #share_container, .icon-github, .photo-share, .share-list, .share-wrapper, a[href^="https://twitter.com/intent/follow?"], .fb-xfbml-parse-ignore, .icon_gplus, .social-bottom, #sharebar, .btn-gplus, .custom-social, .shareLink, .social-popup, .social-tab, .social__twitter, .socialmedia, #digg-widget, #share_links, .fb-dialog, .pinit-btn, .std-social, .-facebook, .share-link, .social_twitter, #sharebox, .article_share, .socialMedia, a[href^="http://www.digg.com/submit?"], .btn-fb, .google-plus, .pinterest-share-button {
    display: flex !important;
}