.ExperiencePage {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;

    position: relative;
    width: 100%;
    height: 100vh; 
    background: url(../../Images/experiencepage.png);
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ExperiencePage:before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(#000, transparent);
}