.about-modal-wrapper {
    position: relative;
    z-index: 1;
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-modal-wrapper.open {
    animation: fadeIn 0.25s linear;
}

/* .about-modal-wrapper.closed {
    animation: fadeOut 0.25s linear;
} */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* @keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
} */

.about-modal {
    position: relative;
    background: white;
    min-height: 300px;
    min-width: 300px;
    width: 60%;
    height: fit-content;
    border-radius: 10px;
    z-index: 10;
}

.about-modal.open {
    animation: loadIn 0.15s linear;
}

/* .about-modal.closed {
    animation: loadOut 0.15s linear;
} */

@keyframes loadIn {
    0% {
        transform: translateY(-150%);
    }
    100% {
        transform: translateY(0%);
    }
}

/* @keyframes loadOut {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-150%);
    }
} */